html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.text{
    color: white;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (min-width: 768px){
    .text{
        font-size: 200px;
        justify-content: center;
    }

    #star{
        
    }
}